/* CSS for GEOM101 Assignment 3 */
/* Creator for each section stated in comment above code */

/* TITLE: Stylesheet */
/* DESCRIPTION: Stylesheet document for Cascading Style Sheet code (CSS), which governs the Kawartha Lakes webpage layout as it pertains to style. */
/* AUTHOR: Nicholas Pretli */
/* KEYWORDS: Hiking, Kawartha Lakes, Style, Ontario, Outdoors */
/* CHARACTER SET: UTF-8 */

/* General formatting for the body of pages */

body, html {
  height: 100%;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: #324253;
  font-size: 15px;
  background-color: #D4D4D3;
}

/* Responsive design techniques amended by Nicholas Pretli on December 4, 2020 */
.responsive {
  width: 100%;
  height: auto;
}

p{
  font-family:Arial, Helvetica, sans-serif;
  padding: 2px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
}

/*Trail page CSS - Added by Tayler Nichol, December 6*/
h2{padding: 1%;
}

h3{padding: 1%;
}
#maindescr {
  font-size: 16px;
  text-align: center;
  padding: 2%;
}
.sub{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 1%;
}

#trailtitle1{
  background-color:#B35FFF; 
  outline: #000000 solid 5px;
  border: none;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  padding: 1%;
}
#trailtitle2{
  background-color:#B35FFF;
  outline: #000000 solid 5px;
  border: none;
  color: whitesmoke;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  padding: 1%;
}
#trailtext1{
  padding: 1%;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  display: none;
}
#trailtext2{
  padding: 1%;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  display: none; 
}
.imagecptn{
  font-size: 12px;
}

/*Site Header
by: Hayley Kennington
November 23, 2020 9am
Idea taken from https://www.thehikinglife.com/, 
code modified from https://www.w3schools.com/howto/howto_css_hero_image.asp*/
/* Modified by Nicholas Pretli December 4, 2020; modified December 7, 2020 */

.header-image {
  background-color: #51A987;
  height: 30%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image-ken {
  background-image: url("ken-reid.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  font-family:'century gothic';
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 200px;
  text-shadow: 1px 1px 2px black;
  font-size:1.5vw
  }

.header-image-regional {
  background-image: url("kawartha-winter.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image-qeii {
  background-image: url("lake2fall.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image-history {
  background-image: url("human-history-3.jpeg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
.header-image-balsam {
  background-image: url("balsam-lake-5.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topnav {
  overflow: hidden;
  outline: #7F7D7C solid 5px;
  background-color: #00000;
}

.topnav a {
  float: left;
  display: block;
  color: #7F7D7C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7F7D7C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: ##C0C0C0;
  font-weight: bold;
  outline: #000000 solid 10px;
  color: black;
}

.dropdown-content a:hover {
  background-color: #7F7D7C;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Main Page CSS, lower image & footer implementation 
By: Nicholas Pretli on December 7, 2020 
CSS concepts referenced from https://w3schools.com */

.mainpagetext{
  text-align:center; 
  background-color: #0000;
  padding: 0.5%;
}

.footer{
  font-family: 'century gothic';
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #C0C0C0;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}

.friends{
  margin: auto;
  width: 60%;
  border: 6px solid #73AD21;
  padding: 10px;
}

/* Static map of Kawartha Lakes, Ontario on "Regional Info" page
by: 
 December 7, 2020
/* Idea taken from https://developers.google.com/maps/documentation/maps-static/overview */

.static{
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  }

@media screen and (max-width: 700px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Main Page CSS modified by Nicholas Pretli on December 7, 2020 */
.mainpagetext{
  text-align: center;
  padding: 15px;
}

.container{
  width: 90%;
  overflow: hidden;
  overflow: hidden;
  background: skyblue;
  margin: 20px auto;
  padding: 20px; 
}

.container ul{
  padding: 0px; 
  margin:0px; 
}

.container ul li{
  list-style: none;
  float: left;
  width: 100%;
  height: 300px; 
  background-image: url("kawartha-lakes-map.jpg");
  margin: 40px 30px 0px 20px; 
  box-sizing: border-box;
  border:2px solid white;
}

.container ul li:hover{
  opacity: 0.9;
}

.container ul li .title:hover{
  background: blue;
  color:white;
} 

.container ul li .title{
  font-family: 'century gothic';
  font-size:2vw;
  width: 100%;
  height: 100px; 
  line-height: 50px;
  background: green;
  text-align: center;  
}


@media screen and (max-width:6000px){
  .container ul li{
    width:40%;
    margin-left: 50px;} 
}


/* Footer by Nicholas Pretli on December 7, 2020, 6:30 p.m */
/* CSS concepts referenced from https://w3schools.com */

.footer{
  font-family: 'century gothic';
  text-align: center;
  position: relative;
  outline: #000000 solid 5px;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #51A987;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px;
}

.box{
  width: 600px;
  height: 400px;
  background-size: cover; 
  text-align: center;
  padding: 500px;
  margin: 300px auto;
  box-shadow: 0px 0px 10px 2px grey;
  border: 10px solid red;
  background-image:url("../photos/children-toronto-census-tract.jpg")

}

/*Download Buttons
by: Eric Millan
December 3, 2020
Idea taken from walkHighlands https://www.walkhighlands.co.uk/sutherland/ceannabeinne.shtml, 
code modified to include buttons
*/

/*DIV BLOCKFOR DOWNLOAD BUTTONS, CENTERED*/
.dlbtn {
  background-color: #B35FFF;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.dlbtn:hover {
  background-color: #00000;
  outline: #000000 solid 10px;
}

@media screen and (max-width: 600px) {
  .container ul li{
    width:40%;
    margin-left: 50px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}  